
body {
	background-color: #b0c099;
}
.enter-form {
	padding: 40px;
	display: block;
	margin: auto;
	height: 200px;
	width: 250px;
	background-color: #fbfbfa;
	border-radius: 5px;
}
.input{
	display: block;
	margin: auto;
	margin-bottom: 24px;
}
button {
	width: 152px;
	height: 39px;
	border-radius: 5px;
}
.footer {
	vertical-align: middle;
	margin: auto;
	width: 100%;
	min-height: 62px;
	display: block;
	position: absolute;
	bottom:0;
	background-color: #fbfbfa;
}
.wrapper {
	width: 500px;
	display: block;
	margin: auto;
}