
body {
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
	background-size: 100%;
	color: #727070;
	font: 14px "Open Sans";
	background-color: #e4e8ad;
	font-family: 'open_sansregular';
}
figure {
	padding: 0;
	margin: 0;
}

body,html {
	width: 100%;
	height: 100%;
}
ul {
	list-style: none;
	padding: 0;
	margin:0;

}
a {
	text-decoration: none;
	color:#727070;
}
.clearfix:after, .clearfix:before{
	content: '';
	display: table;
	clear: both;
}
/*-----------------------------------стили футера---------------------------------*/


.main-header {
	min-width: 970px;
	font-size: 0px;
	margin-bottom: 35px;
	min-height: 90px;
	width: 100%;
	background: #716f6f url('../img/bg-head.png') repeat;
	border-bottom: 7px solid #ffffff;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.header-container {
	max-width: 1200px;
	min-width: 960px;
	margin: auto;
	
}
.social {
	margin-top: 25px;
	font-size: 0;
	float: right;
	padding: 0;
	list-style: none;
}
.social-item {
	display: inline-block;
	margin-left: 10px;
}
.social-links {
	font-size: 14px;
	width: 42px;
	height: 44px;
	background-image: url("../img/spritesheet.png");
	background-repeat:  no-repeat;
	display: block;
}
.social-item:first-child {
	margin-left: 0;
}
.fb {
	 background-position: -5px -5px;
}
.vk {
	background-position: -317px -5px;
}
.tw {
	background-position: -213px -5px;
}
.gh {
	background-position: -109px -5px;
}
.fb:hover {
	 background-position: -57px -5px;
}
.vk:hover {
	background-position: -369px -5px;
}
.tw:hover {
	background-position: -265px -5px;
}
.gh:hover {
	background-position: -161px -5px;
}
.main-logo {
	font-size: 14px;
	margin: 10px 0 0 0;
	float:left;
}


.logo-text, .social-text {
	position: absolute;
	left: -9999px;
}



/*-----------------------------------стили main------------------------------------*/

.main-container {
	width:960px;
	margin:0 auto;
	
}
.main-container:after{
	content: '';
	display: table;	
	clear: both;
}
.content {
	width: 650px;
	float: right;
}
.about-header{ 
	color: #eeedec;
	background-color: #727070;
	box-shadow: inset 0 1px 0 0 #c3c2c2;
	background-image: linear-gradient(to top, #7b7979, #a9a7a7);	
	text-shadow: 0 1px 1px #6f6e6e;
	margin:0;
	font-weight: normal;
	padding: 13px 45px;
	font-size: 24px;
	font-family: 'open_sanssemibold';
}
.about {
	margin-bottom: 35px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #c5c5c5;
	background-color: #f6f5f5;
}

.about-info {
	box-sizing:border-box;
	position: relative;
	min-height: 105px;	
	padding: 35px 40px 25px 40px;	
	margin-top: -1px;
}

.wrapper {
	min-height: 100%;
}
.wrapper:after{
	content:"";
	height: 60px;
	clear:both;
	display: table;
}

/*------------------сайдбар-------------------*/
.sidebar {
	width: 250px;
	float:left;
}

.nav-link {
	background-color: #e6e3e2;
	padding: 14px 25px;
	background-image: linear-gradient(to top, #e6e3e2, #f7f7f7);
	border-top:1px solid #c5c5c5;
	border-bottom:1px solid #c5c5c5;
	display: block;
	margin-top: -1px;
	text-shadow: 1px 1px 1px #f3f2f2;
}

.nav-link:hover{
	background-color: #bfbcbc;
	background-image: linear-gradient(to top, #bfbcbc, #e4e3e3);

}
.nav-link:active {
	background-color: #7c7979;
	color: #eeedec;
	text-shadow: 0 1px 0 #686767;
	background-image: linear-gradient(to top, #7c7979, #c3c2c2);
	box-shadow: inset 0 1px 0 0 #c3c2c2;
}
.nav-link.curent {
	background-color: #3fb79a;
	color:#1e7465;
	background-image: linear-gradient(to top, #3fb79a, #7de8cd);
	box-shadow: inset 0 1px 0 0 #a5efdd;
	border: 1px solid #66dbbe;
	text-shadow: 1px 1px 1px #f3f2f2;			
}

.main-menu {
	border: 1px solid #c5c5c5;
	font-family:'Open_sanssemibold';
	font-size: 20px;
	border-radius: 5px;
	margin-bottom: 35px;
	overflow: hidden;
}

.contacts-link{
	display: block;
	padding: 10px;
}
.menu-contacts {
	display: block;
	border-radius: 5px;
	overflow: hidden;
}
.contacts-link{
	font-family: 'open_sansregular';
	font-size: 14px;
	height: 38px;
	box-sizing: border-box;
	margin-top:-1px; 
	text-align: center;
	padding-left: 55px;
	border:1px solid #c5c5c5;
	
}
.contacts-item:first-child .contacts-link {
	border-top:none;
	margin-top: 0;
}

.contacts-title {
	font-family:'open_sanssemibold';
	font-size: 20px;
	background-color: #f4ce82;
	background-image: linear-gradient(to top, #caa152, #f4ce82);
	box-shadow: inset 0 1px 0 0 #f8dda7;	
	padding: 7px 25px;
	border:1px solid #caa152;
	color: #d0982c;
	text-shadow: 0 1px 0 #efd6a4;
}
.contacts-link.email {
	background-image: url('../img/email.png');
	background-position: 15px;
	background-repeat: no-repeat;
	background: 
				url('../img/braket.png') 45px no-repeat,
				 url('../img/email.png') 15px no-repeat;
}

.contacts-link.phone {
	background-image: url('../img/telephone.png');
	background-position: 15px;
	background-repeat: no-repeat;
	background: 
				url('../img/braket.png') 45px no-repeat,
				 url('../img/telephone.png') 15px no-repeat;
}

.contacts-link.skype {
	background-image: url('../img/skype.png');
	background-position: 15px;
	background-repeat: no-repeat;
	background: 
				url('../img/braket.png') 45px no-repeat,
			 	url('../img/skype.png') 15px no-repeat;
}

.contacts-item {
	background-color: #f4f3f2;
	background-image: linear-gradient(to top, #f4f3f2, #ffffff) ;		
}
.contacts-item:hover {
	background-color: #f2e7d0;
	background-image: linear-gradient(to top, #f2e7d0, #ffffff);
	text-decoration: underline;
}

/*---------------------------------стили футера---------------------------------------*/
.main-footer {
	margin-top: -60px;
	min-width: 970px;
	height: 60px;
	width:100%;
	background-color: #ffffff;
}
.container {
	position: relative;
	max-width: 670px;
	margin: 0 auto;
	padding-top:23px;

}
.copyright {
	font-size: 12px;
	margin: 0 120px;
}
.lock {
	position: absolute;
	top:20px;

}
.lock-inner {
	font-family: 'open_sansbold';
	font-size: 14px;
	color:#9c9c9c;
	width: 19px;
    height: 22px;
	background: url('../img/lockSprite.png')  -5px -5px no-repeat;
	padding-left: 25px;
	height: 24px;
	
}
.lock-inner:hover {
	text-decoration: underline;
	background: url('../img/lockSprite.png')  -5px -37px no-repeat;
}