.my-works-item {
	display: inline-block;
	width: 165px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #c5c5c5;
	
	margin:0 15px 35px 15px;
	vertical-align: top;
}

.pre-view {
	position: relative;
	display: block;
	width: 165px;
	height: 120px;
	overflow: hidden;
 
	

}
.pre-view:before {
	content:'';
	position:absolute;
	width:100%;
	height: 100%;
	background-color:rgba(111,109,109,.5);
}
.pre-view:hover:before{
	display:none;


}
.work-name {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	font-family: 'open_sanssemibold';
	padding:7px;
}
.work-about {
	background-color: #ffffff;
	text-align: center;
	padding:7px;
	font-family: 'open_sanslight';
	font-size: 12px;
}

.add-button {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: bold;
	background-image: linear-gradient(to top, #e9e7e6, #fafbfb);
	text-align: center;
	padding:25px 10px 20px 10px;
}
.add-button:before {
	margin: 0 auto 10px;
	content:'';
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #f7f7f7;
	box-shadow:
			inset 1px 1px 0 0 #cfcfcf,
	 		inset -1px -1px 0 0 #ffffff;
	background: url('../img/about-ikon.png') -55px -47px no-repeat;
}
.add-button:hover {
	background-color:#bfbdbd;
	background-image: linear-gradient(to top, #bfbdbd, #e8e7e7);
}
.about {
	min-height: 840px;
}
.about-info {
	padding: 0;
	margin: 40px auto;
	width: 600px;

}


body {
	position: relative;
}

.pop-up-cover {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(100,100,100,0.5); 
	top:0;

}