.my-works-item {
	display: inline-block;
	width: 165px;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #c5c5c5;
	box-shadow: 0 0 5px 0 #c5c5c5;
	margin:0 15px 35px 15px;
	vertical-align: top;
}

.pre-view {
	position: relative;
	display: block;
	width: 165px;
	height: 120px;
	overflow: hidden;
 
	

}
.pre-view:before {
	content:'';
	position:absolute;
	width:100%;
	height: 100%;
	background-color:rgba(111,109,109,.3);
}
.pre-view:hover:before{
	font-family: 'open_sanslight';
	font-size: 12px;
	display: inline-block;
	color: #ffffff;
	content:"подробнее";
	background-color: rgba(111,109,109,.5);
	border: 1px solid #ffffff;
	border-radius: 3px;
	width: 80px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -40px;
	box-shadow: 0 0 1px 0 #bfbdbd;

	


}
.work-name {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	font-family: 'open_sanssemibold';
	padding:7px;
}
.work-about {
	background-color: #ffffff;
	text-align: center;
	padding:7px;
	font-family: 'open_sanslight';
	font-size: 12px;
}

.add-button {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: bold;
	background-image: linear-gradient(to top, #e9e7e6, #fafbfb);
	text-align: center;
	padding:25px 10px 20px 10px;
}
.add-button:before {
	margin: 0 auto 10px;
	content:'';
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #f7f7f7;
	box-shadow:
			inset 1px 1px 0 0 #cfcfcf,
	 		inset -1px -1px 0 0 #ffffff;
	background: url('../img/about-ikon.png') -55px -47px no-repeat;
}
.add-button:hover {
	background-color:#bfbdbd;
	background-image: linear-gradient(to top, #bfbdbd, #e8e7e7);
}
.about {
	min-height: 840px;
}
.about-info {
	padding: 0;
	margin: 40px auto;
	width: 600px;

}


body {
	position: relative;
}




/*----------------------------------------------*/
.popup-container {
	display: none;
	position: fixed;
	top:50%;
	left:50%;
	width: 362px;
	margin: -231px -181px;
	z-index: 1000;
}
.popup-title {
	color: white;
	font-family: "open_sanslight";
	font-size: 12px;
	padding: 10px 21px;
}
/*.pop-up-cover {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(100,100,100,0.5); 
	top:0;

}*/
.popup-form {
	position:relative;
	width: 362px;
	min-height: 462px;
	background-color: #e9e7e6;
	padding: 18px 21px;
	border-radius: 5px;
	margin-top: 5px;
	box-sizing:border-box;
}


.popup-bg {
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;
}
.close-button {
	position: absolute;
	right:6px;
	top:6px;
	cursor:pointer;
	width: 14px;
	height: 14px;
	background: url(../img/X.png);
}
.upload-file {
	display: none;
}

.picture-upload-field, 
.project-name-field,
.popup-textarea-field,
.project-url-field  {

	margin: 10px 0 5px;
	width: 100%;
	box-sizing:border-box;
	height: 41px;
	line-height: 41px;
	padding: 0 8px;
	font-family: 'open_sanslight';
	font-size: 12px;
	background-image: linear-gradient(to top, #f4f3f4, #f1f2f2);
	border: 1px solid #c3c2c2;
	border-radius: 5px;
	box-shadow: inset 0 2px 5px -2px #c3c2c2;
	
}
.uploading-error {
	display: none;
	position: relative;
	width: 100%;
	background-color: #e9c8bc;
	border-radius: 5px;
	border: 1px solid #cb6945;
	color: #cb6945;
	padding: 4px 10px ;
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-top: 9px;
}
.error-close-button {
	position: absolute;
	top:-2px;
	right: 5px;
	font-weight: bold;
	cursor: pointer;

}
.uploading-error-title {
	margin: 0;
	font-family: "open_sanssemibold";
	font-size: 16px;

}
.uploading-error-text {
	margin: 0;
}


.picture-upload-field{
<<<<<<< HEAD
=======
	position: relative;
	width: 84%;
>>>>>>> cc29b170d0b3d5cf6eeba70d740ec650be200d56
	overflow: hidden;

}

.picture-upload-block {
	position: relative;
}
.upload-button{
	position: absolute;
	top: 29px;
	right: 0;
	
	cursor:pointer;
	height:39px;
	width:52px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #c3c2c2;
	background-image: url('../img/iCloud-down.png'),
	            linear-gradient(to top, #e5e3e2, #fcfcfc);
	background-position: center;
	background-repeat: no-repeat;
}
.popup-textarea-field {
	line-height: normal;
	resize:none;
	padding: 9px;
	height: 111px;
	overflow: auto; 
}

.button-submit {
	margin: 5px 90px;
	font-family: 'open_sanssemibold';
	width: 122px;
	height: 38px;
	border-radius: 5px;
	font-size: 14px;
	color: #1e7465;
	text-shadow: 
			0 1px 0 #d5f1e9,
			0 -1px 0 #403F3F;
	background-color: #74b797; 
	background-image: linear-gradient(to top,#3fb79a, #7de8cd);
	
	box-shadow: inset 0 1px 0 0 #c0efdb;
	border: 1px solid #70ac90;

}


.uploading-success {
	display: none;
	width: 100%;
	height: 50px;
	background-image: linear-gradient(to top, #f4f4f4, #fbfcfd);
	border: 1px solid green;
	border-radius: 5px;
	box-shadow: inset 0 2px 5px -2px #c3c2c2;
	color: green;
	text-align: center;
	line-height: 50px 
}
.error {
	border:1px solid #e0ac98;
	box-shadow: inset 0 0 5px 0 #e0ac98;
}

/*.picture-upload-block, 
.project-name-block,
.popup-textarea-block,
.project-url-block {
	position: relative;
}*/

.tooltip {
	display: none;
	position: absolute;
	left:-120px;
	top: 0px;
	padding: 0 15px;
	background: red;
	border-radius: 5px;
	z-index: 1000;


}